.canvas {
    align-items: center;
    background-color: white;
    border: 1px solid var(--canvas-dot-pattern-color);
    height: calc(100% - 40px);
    justify-content: center;
    scrollbar-width: thin;
    overflow-y: scroll;
    overflow-x: scroll;
    width: calc(100% - 20px);
    position: relative;
}

.dot-pattern-canvas {
    background-image: radial-gradient(circle at 1px 1px, var(--canvas-dot-pattern-color) 1px, transparent 0);
    background-size: 20px 20px;
    height: 100%;
    width: 100%;
}

.shape-container {
    display: inline-block;
    position: absolute;
}

.shape {
    color: black;
    display: inline-block;
    z-index: 1;
}

.shape-on-drag,
.shape-focus {
    border: 2px dashed var(--draggable-element-border-color);
    margin-top: -2px;
    margin-left: -2px;
}

.shape-on-drag {
    opacity: 50%
}

.shape-pointer-events-disable {
    pointer-events: none;
}

.ghost-drag-image {
    position: absolute;
    right: -60px;
    top: -60px;
}

.rotate-button-container {
    align-items: end;
    display: flex;
    height: calc(100% + 30px);
    position: absolute;
    top: -15px;
    left: -15px;
    width: calc(100% + 30px);
    z-index: 2;
}

.rotate-button {
    color: var(--draggable-element-border-color);
    cursor: crosshair;
    width: 15px;
    z-index: 2;
}

.circle-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 10px);
    height: calc(100%);
    left: -5px;
    position: absolute;
    z-index: 1;
}

.circle-button {
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 30%;
}

.circle-button:hover {
    opacity: 70%;
}

.line {
    position: absolute;
    color: black;
}

.line-on-select {
    position: absolute;
    color: var(--accent-color);
}