.footer {
    align-items: center;
    background-color: white;
    border-top: 2px solid var(--accent-color);
    display: flex;
    height: 5%;
    justify-content: space-between;
}

.scale-slider-box {
    align-items: center;
    display: flex;
    margin: 0 15px 0 auto;
    justify-content: center;
}

.scale-slider {
    appearance: none;
    background: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    height: 5px;
    width: 300px;
    -webkit-appearance: none;
}

.scale-slider::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
}

.scale-slider::-moz-range-thumb {
    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.footer-text {
    margin: 0 15px 0 15px;
}

.scale-value {
    margin: 0 15px 0 15px;
}