.sidebar-container {
    background-color: white;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    max-width: 300px;
    min-width: 300px;
}

h3 {
    color: var(--accent-color);
    margin: 15px;
    user-select: none;
}

.search-shapes-input {
    background-color: white;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--font-color);
    cursor: pointer;
    margin: 15px 15px 25px;
    outline: none;
    padding: 8px;
}

.shapes-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shape-type-select-button {
    background-color: var(--background-color);
    border-radius: 5px;
    border: none;
    display: block;
    color: var(--font-color);
    cursor: pointer;
    margin: 5px 15px 10px;
    outline: none;
    padding: 8px;
    max-width: 100%;
    user-select: none;
}

.shape-type-select-button:hover {
    background-color: var(--accent-color);
    color: white;
}

.shape-button {
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    cursor: pointer;
    margin: 5px 15px 10px 30px;
    outline: none;
    padding: 0;
    user-select: none;
}

.shape-button:hover {
    background-color: var(--light-button-hover-color);
}

.shape-button-icon {
    margin: 8px 20px 8px 20px;
    width: 100px;
    height: 42px;
}

hr {
    border-top: 2px solid;
    color: var(--accent-color);
    margin: 5px 15px 15px 15px;
}
