.toolbar-container {
    background-color: white;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    height:auto;
    width: 30%;
}

h3 {
    color: rgb(97, 76, 234);
    margin: 15px;
    user-select: none;
}

.search-shapes-input {
    background-color: white;
    border: 1px solid rgb(97, 76, 234);
    border-radius: 5px;
    color: rgb(26, 13, 59);
    cursor: pointer;
    margin: 15px 15px 25px;
    outline: none;
    padding: 8px;
}

.shapes-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shape-types-select {
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    border: none;
    display: block;
    color: rgb(26, 13, 59);
    cursor: pointer;
    margin: 5px 15px 10px;
    outline: none;
    padding: 8px;
    max-width: 100%;
    user-select: none;
}

.shape-types-select:hover {
    background-color: rgb(97, 76, 234);
    color: white;
}

.shape-button {
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;
    color: rgb(26, 13, 59);
    cursor: pointer;
    margin: 5px 15px 10px 30px;
    outline: none;
    padding: 0;
    user-select: none;
}

.some-shape-button {
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;
    color: rgb(26, 13, 59);
    cursor: pointer;
    margin: 5px 15px 10px 30px;
    outline: none;
    padding: 8px;
    user-select: none;
}

.shape-button:hover {
    background-color: rgb(184, 184, 231);
}

.some-shape-button:hover {
    background-color: rgb(184, 184, 231);
}

.shape-button-inductor-icon {
    margin: 20px 10px 20px 8px;
    width: 100px;
}

.shape-button-icon {
    margin: 10px 10px 10px 8px;
    width: 100px;
    height: 42px;
}

hr {
    border-top: 2px solid;
    color: rgb(97, 76, 234);
    margin: 5px 15px 15px 15px;
}
