.toolbar-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

h3 {
    color: rgb(55, 93, 245);
    margin: 15px;
}

.search-shapes-input {
    background-color: white;
    border: 1px solid rgb(55, 93, 245);
    border-radius: 5px;
    color: rgb(26, 13, 59);
    cursor: pointer;
    margin: 15px;
    outline: none;
    padding: 4px 8px 4px 8px;
}

.search-shapes-input::placeholder {
    /*color: rgb(116, 104, 173);*/
}

.shape-types-select {
   /* background-color: rgb(230, 230, 252);*/
    border: none;
    margin: 15px;
    outline: none;
    overflow: hidden;
}

.shape-types-select option {
    border-radius: 8px;
    color: rgb(26, 13, 59);
    cursor: pointer;
    padding: 8px;
}

.shape-types-select option:focus {
    background-color: white;
    /*color: rgb(142, 138, 161);*/
    outline: none;
    -webkit-text-fill-color: rgb(26, 13, 59);
}

.shape-types-select option:active {
    /*color: rgb(142, 138, 161);*/
    outline: none;
}

.shape-types-select option:hover {
    background-color: rgb(242, 242, 255);
    outline: none;
    -webkit-text-fill-color: rgb(26, 13, 59);
}

.shape-types-select option:checked {
    background: white linear-gradient(0deg, white 0%, white 100%);
    -webkit-text-fill-color: rgb(26, 13, 59);
}

hr {
    border-top: 2px solid;
    color: rgb(55, 93, 245);
    margin: 5px 15px 15px 15px;
}

.shape-button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: rgb(26, 13, 59);
    margin: 5px 15px 5px 15px;
    padding: 8px;
}

.shape-button:hover {
    outline: none;
   /* background-color: rgb(242, 242, 255);*/
}

.shape-button:active {
    background-color: white;
   /* color: rgb(142, 138, 161);*/
    outline: none;
}